<footer class="footer">
    <div class="footer-content">
      <!-- Section Contact Us -->
      <div class="footer-section">
        <h3><i class="fa-solid fa-map-location-dot"></i> Contact Us</h3>
        <p>Email: paulineatgmail.com</p>
        <p>Phone: +000000</p>
        <p>Address: Biot, France</p>
      </div>
  
      <!-- Section About Us -->
      <div class="footer-section">
        <h3><i class="fa-solid fa-heart"></i> About Us</h3>
        <p>
          Welcome to Custom Sneakers shop, I paint each pair of sneakers by hand 
        </p>
        <p>Thanks for your support!</p>
      </div>
  
      <!-- Section FAQ -->
      <div class="footer-section">
        <h3><i class="fa-solid fa-comments"></i> FAQ</h3>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2025 Sneakers Custom de Pauline. All rights reserved.</p>
    </div>
  </footer>
  