



.footer {
    background-color: #333;
    position:relative;
    bottom:0px;
    width:100%;
    color: #f1f1f1;
    padding: 20px 10px;
    font-size: 14px;
  
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
  }
  
  /* Footer sections */
  .footer-section {
    margin: 10px;
    max-width: 300px;
    position:static;
    
  }
  
  .footer-section h3 {
    color: #ff00c893;
    margin-bottom: 10px;
  }
  
  .footer-section p,
  .footer-section ul,
  .footer-section a {
    margin: 0;
    line-height: 1.6;
    color: #ddd;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    color: #ff00c893;
    text-decoration: underline;
  }
  
  /* Footer bottom section */
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    position:static;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  