<h2 mat-dialog-title >Détails du Produit</h2>
<mat-dialog-content>
  <p><strong>Nom :</strong> {{ product.name }}</p>
  <p><strong>Description :</strong> {{ product.description }}</p>
  <p><strong>Prix :</strong> {{ product.price }}</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="addToCart(product)"><i class="fas fa-shopping-cart"></i>Ajouter au panier
  </button>
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>





 <!--<div class="product-card"> 
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p><strong>Prix :</strong> {{ product.price }} €</p>

    <button (click)="addToCart(product)" class="button">
      Ajouter au panier
      <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <button (click)="addToCart(product)">Ajouter au panier</button>
  </div>
-->