<div class="products">
  <h1>Liste des Produits</h1>
  <label for="sortSelect">Trier par :</label>
  <select id="sortSelect" [(ngModel)]="selectedSort" (change)="onSortChange()">
    <option *ngFor="let option of sortOptions" [value]="option.value">
      {{ option.label }}
    </option>
  </select>
  <div class="product-list">
    <div class="product-card" *ngFor="let product of filteredProducts">
      <img src="#" alt="Image produit" />
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <button mat-button color="primary" (click)="viewDetails(product)">Voir Détails</button>
    </div>
  </div>
</div>
